<p id="notice"><%= notice %></p>

<p>
  <strong>Main Image:</strong>
  <% if @product.main_image.thumb.url %>
    <%= image_tag @product.main_image.thumb.url %>
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<!--<%#= link_to 'Edit', edit_product_path(@product) %> |-->
<%= link_to 'Back', admin_products_path %>